BLOCK RESETPATHS ;
BLOCK ASYNCPATHS ;
LOCATE COMP "indiv0[4]" SITE "41" ;
LOCATE COMP "indiv0[3]" SITE "42" ;
LOCATE COMP "indiv0[2]" SITE "43" ;
LOCATE COMP "indiv0[1]" SITE "44" ;
LOCATE COMP "indiv0[0]" SITE "45" ;
LOCATE COMP "outdiv0" SITE "109" ;
