BLOCK RESETPATHS ;
BLOCK ASYNCPATHS ;
LOCATE COMP "cdiv0[4]" SITE "41" ;
LOCATE COMP "cdiv0[3]" SITE "42" ;
LOCATE COMP "cdiv0[2]" SITE "43" ;
LOCATE COMP "cdiv0[1]" SITE "44" ;
LOCATE COMP "cdiv0[0]" SITE "45" ;
LOCATE COMP "enable0" SITE "50" ;
LOCATE COMP "rw0" SITE "52" ;
LOCATE COMP "inkey0[0]" SITE "91" ;
LOCATE COMP "inkey0[1]" SITE "92" ;
LOCATE COMP "inkey0[2]" SITE "93" ;
LOCATE COMP "inkey0[3]" SITE "94" ;
LOCATE COMP "outWord0[6]" SITE "143" ;
LOCATE COMP "outWord0[5]" SITE "142" ;
LOCATE COMP "outWord0[4]" SITE "141" ;
LOCATE COMP "outWord0[3]" SITE "139" ;
LOCATE COMP "outWord0[2]" SITE "138" ;
LOCATE COMP "outWord0[1]" SITE "133" ;
LOCATE COMP "outWord0[0]" SITE "132" ;
LOCATE COMP "outtransist0[3]" SITE "28" ;
LOCATE COMP "outtransist0[2]" SITE "27" ;
LOCATE COMP "outtransist0[1]" SITE "26" ;
LOCATE COMP "outtransist0[0]" SITE "25" ;
LOCATE COMP "outcrK0[3]" SITE "83" ;
LOCATE COMP "outcrK0[2]" SITE "84" ;
LOCATE COMP "outcrK0[1]" SITE "85" ;
LOCATE COMP "outcrK0[0]" SITE "86" ;
LOCATE COMP "outcontR0[4]" SITE "125" ;
LOCATE COMP "outcontR0[3]" SITE "121" ;
LOCATE COMP "outcontR0[2]" SITE "122" ;
LOCATE COMP "outcontR0[1]" SITE "120" ;
LOCATE COMP "outcontR0[0]" SITE "113" ;
LOCATE COMP "outcontW0[4]" SITE "1" ;
LOCATE COMP "outcontW0[3]" SITE "2" ;
LOCATE COMP "outcontW0[2]" SITE "3" ;
LOCATE COMP "outcontW0[1]" SITE "4" ;
LOCATE COMP "outcontW0[0]" SITE "6" ;
LOCATE COMP "outcrLed0[3]" SITE "111" ;
LOCATE COMP "outcrLed0[2]" SITE "112" ;
LOCATE COMP "outcrLed0[1]" SITE "110" ;
LOCATE COMP "outcrLed0[0]" SITE "109" ;
LOCATE COMP "clk0" SITE "9" ;
LOCATE COMP "outFlag0" SITE "11" ;
