BLOCK RESETPATHS ;
BLOCK ASYNCPATHS ;
LOCATE COMP "Bc[7]" SITE "50" ;
LOCATE COMP "Bc[6]" SITE "52" ;
LOCATE COMP "Bc[5]" SITE "54" ;
LOCATE COMP "Bc[4]" SITE "55" ;
LOCATE COMP "Bc[3]" SITE "56" ;
LOCATE COMP "Bc[2]" SITE "57" ;
LOCATE COMP "Bc[1]" SITE "58" ;
LOCATE COMP "Bc[0]" SITE "59" ;
LOCATE COMP "Selc[2]" SITE "60" ;
LOCATE COMP "Selc[1]" SITE "61" ;
LOCATE COMP "Selc[0]" SITE "62" ;
LOCATE COMP "Ac[7]" SITE "41" ;
LOCATE COMP "Ac[6]" SITE "42" ;
LOCATE COMP "Ac[5]" SITE "43" ;
LOCATE COMP "Ac[4]" SITE "44" ;
LOCATE COMP "Ac[3]" SITE "45" ;
LOCATE COMP "Ac[2]" SITE "47" ;
LOCATE COMP "Ac[1]" SITE "48" ;
LOCATE COMP "Ac[0]" SITE "39" ;
LOCATE COMP "Sc[0]" SITE "109" ;
LOCATE COMP "Sc[1]" SITE "110" ;
LOCATE COMP "Sc[2]" SITE "112" ;
LOCATE COMP "Sc[3]" SITE "111" ;
LOCATE COMP "Sc[4]" SITE "113" ;
LOCATE COMP "Sc[5]" SITE "120" ;
LOCATE COMP "Sc[6]" SITE "122" ;
LOCATE COMP "Sc[7]" SITE "121" ;
