BLOCK RESETPATHS ;
BLOCK ASYNCPATHS ;
LOCATE COMP "cdiv0[0]" SITE "39" ;
LOCATE COMP "cdiv0[1]" SITE "41" ;
LOCATE COMP "cdiv0[2]" SITE "40" ;
LOCATE COMP "cdiv0[3]" SITE "100" ;
LOCATE COMP "cdiv0[4]" SITE "105" ;
LOCATE COMP "reset0" SITE "50" ;
LOCATE COMP "RS0" SITE "73" ;
LOCATE COMP "RW0" SITE "74" ;
LOCATE COMP "EN0" SITE "75" ;
LOCATE COMP "clk0" SITE "22" ;
LOCATE COMP "outWord0[0]" SITE "76" ;
LOCATE COMP "outWord0[1]" SITE "77" ;
LOCATE COMP "outWord0[2]" SITE "78" ;
LOCATE COMP "outWord0[3]" SITE "81" ;
LOCATE COMP "outWord0[4]" SITE "82" ;
LOCATE COMP "outWord0[5]" SITE "83" ;
LOCATE COMP "outWord0[6]" SITE "84" ;
LOCATE COMP "outWord0[7]" SITE "85" ;
LOCATE COMP "enable0" SITE "60" ;
LOCATE COMP "inkey0[3]" SITE "2" ;
LOCATE COMP "inkey0[2]" SITE "4" ;
LOCATE COMP "inkey0[1]" SITE "6" ;
LOCATE COMP "inkey0[0]" SITE "10" ;
LOCATE COMP "outcrK0[3]" SITE "1" ;
LOCATE COMP "outcrK0[2]" SITE "3" ;
LOCATE COMP "outcrK0[1]" SITE "5" ;
LOCATE COMP "outcrK0[0]" SITE "9" ;
LOCATE COMP "r0" SITE "42" ;
LOCATE COMP "outFlag0" SITE "21" ;
LOCATE COMP "outFlagc0" SITE "24" ;
LOCATE COMP "outFlagcc0" SITE "23" ;
LOCATE COMP "outcrLed0[0]" SITE "26" ;
LOCATE COMP "outcrLed0[1]" SITE "25" ;
LOCATE COMP "outcrLed0[2]" SITE "28" ;
LOCATE COMP "outcrLed0[3]" SITE "27" ;
LOCATE COMP "outcontR0[0]" SITE "110" ;
LOCATE COMP "outcontR0[1]" SITE "109" ;
LOCATE COMP "outcontR0[2]" SITE "112" ;
LOCATE COMP "outcontR0[3]" SITE "111" ;
LOCATE COMP "outcontR0[4]" SITE "114" ;
LOCATE COMP "outcontW0[0]" SITE "113" ;
LOCATE COMP "outcontW0[1]" SITE "117" ;
LOCATE COMP "outcontW0[2]" SITE "115" ;
LOCATE COMP "outcontW0[3]" SITE "99" ;
LOCATE COMP "outcontW0[4]" SITE "98" ;
